## Pandas provides two main data structures to work with data: Series and DataFrame. 

# 1. Pandas Series
* A Series is a one-dimensional labeled array, similar to a list or array, but with additional features such as labeling of the data (index).
* It can hold any data type (integers, floats, strings, Python objects, etc.).
* Index: Each value in a Series has an associated label (index). By default, this is a range from 0 to n-1.
* Values: The actual data stored in the Series.

* Pandas Series and DataFrame are essential data structures for working with tabular data.
* DataFrame provides extensive functionality for data manipulation, including filtering, grouping, and merging.
* Series is simpler and useful for one-dimensional data or as a building block within DataFrames.

In [2]:
import pandas as pd

# Creating a Series from a list
data = [10, 20, 30, 40]
series = pd.Series(data)

# Creating a Series with custom index
index = ['A', 'B', 'C', 'D']
series_custom_index = pd.Series(data, index=index)

print(series)
print(series_custom_index)

0    10
1    20
2    30
3    40
dtype: int64
A    10
B    20
C    30
D    40
dtype: int64

# 2. Pandas DataFrame
* A DataFrame is a two-dimensional table, similar to a database table or an Excel spreadsheet, with rows and columns.
* Each column in a DataFrame is a Series, and each row is identified by an index.
* Columns: Each column is a Series, and each Series can have different data types.
* Index: The index identifies the rows. It can be an integer or labels.
* Data: The values are stored in a tabular format (rows and columns).

In [3]:
import pandas as pd

# Creating a DataFrame from a dictionary
data = {
    'student_id': [1, 2, 3, 4],
    'age': [15, 11, 11, 20]
}
df = pd.DataFrame(data)

# Creating a DataFrame with custom index
index = ['A', 'B', 'C', 'D']
df_custom_index = pd.DataFrame(data, index=index)

print(df)
print(df_custom_index)

   student_id  age
0           1   15
1           2   11
2           3   11
3           4   20
   student_id  age
A           1   15
B           2   11
C           3   11
D           4   20

In [4]:
# Merging and Joining DataFrames

## Merging two DataFrames
df1 = pd.DataFrame({'id': [1, 2], 'name': ['Alice', 'Bob']})
df2 = pd.DataFrame({'id': [1, 2], 'age': [24, 25]})

merged_df = pd.merge(df1, df2, on='id')
print(merged_df)

   id   name  age
0   1  Alice   24
1   2    Bob   25

In [6]:
## Concatinating dataframes

concatenated_df = pd.concat([df1, df2], axis=0)
concatenated_df

   id   name   age
0   1  Alice   NaN
1   2    Bob   NaN
0   1    NaN  24.0
1   2    NaN  25.0